<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="shop-drop" id="profile-page">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div id="profile-details-container">
            <div class="text-center">
                <img src="https://res.cloudinary.com/kalindonchev-cloud/image/upload/v1576263958/mbwl0lnjuetmqet21si0.jpg"
                     alt="profileImg">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h1>Username:</h1>
                    <h2 th:text="${model.username}"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h1>Email:</h1>
                    <h2 th:text="${model.email}"></h2>
                </div>
            </div>
            <hr class="hr-2 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <a th:href="@{/user/edit}" class="btn btn-dark">Edit Profile</a>
            </div>
        </div>

    </main>
    <footer>
        <footer>
            <th:block th:include="~{fragments/footer}"></th:block>
        </footer>
    </footer>

</div>
</body>

</html>