<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
<div class="shop-drop">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <div class="error-details" th:text="${message}">
                        </div>
                        <div class="error-actions">
                            <a th:href="@{/home}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                                Take Me Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>

</html>