<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
    <div class="shop-drop" id="home-page">
        <header>
            <th:block th:include="~{fragments/navbar}"></th:block>
        </header>
        <main>

            <div class="container py-5">
                <!-- For demo purpose -->
                <div class="row text-center text-white mb-5">
                    <div class="col-lg-7 mx-auto">
                        <h1 class="display-4">All Products</h1>
                    </div>
                </div>
                <!-- End -->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- List group-->
                        <ul class="list-group shadow" id="products-list">

                            <th:block th:each="product : ${products}">
                                <li class="list-group-item">
                                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                        <div class="media-body order-2 order-lg-1">
                                            <h5 class="mt-0 font-weight-bold mb-2" th:text="${product.name}"></h5>
                                            <p class="font-italic text-muted mb-0 small" th:text="${product.description}"></p>
                                            <div class="d-flex align-items-center justify-content-between mt-1">
                                                <h6 class="font-weight-bold my-2" th:text="${product.price} + '$'"></h6>
                                                <a class="text-gray" th:href="@{/product/all/{username}(username=${product.user})}" th:text="${product.user}"></a>
                                            </div>
                                        </div><a id="none" th:href="@{/product/details/{id}(id=${product.id})}"><img
                                            th:src="${product.imageUrl}"
                                            alt="Generic placeholder image" width="200" height="150" class="ml-lg-5 order-1 order-lg-2"> </a>
                                    </div>
                                </li>
                            </th:block>




                        </ul>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <th:block th:include="~{fragments/footer}"></th:block>
        </footer>
    </div>
</body>

</html>