<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>

<body>
    <div class="shop-drop">
        <header>
            <th:block th:include="~{fragments/navbar}"></th:block>
        </header>
        <main>
            <div class="jumbotron jumbotron bg-cover" id="jumbotron-cover">
                <div class="overlay"></div>
                <div class="container">
                 
                </div>
              </div>
            
              <div class="jumbotron">
                <h1 class="display-4">Welcome to ShopDrop! The biggest online store!</h1>
                <p class="lead">Here you can find all you need.</p>
                <hr class="my-4">
                <p>Think no more and <a th:href="@{/user/login}">Login</a> or <a th:href="@{/user/register}">Sign up</a> if you don't have an account.</p>
              </div>
        </main>
        <footer>
            <th:block th:include="~{fragments/footer}"></th:block>
        </footer>
    </div>
</body>

</html>